html {
  font-size: 12px;
}

.container-project {
  header {
    nav {
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .project-logo {
        margin: auto;
        margin-top: 1rem;
        margin-bottom: 2rem;
        text-align: center;
        a {
          img {
            width: 10rem;
          }
        }
      }
      .navbar {
        margin: auto;
        text-align: center;
        margin-bottom: 2rem;

        ul {
          margin: auto;
        }
      }
    }
    .description {
      p {
        margin-top: 40px;
      }
    }

    .search-bar {
      display: flex;
      flex-direction: column;
      margin: auto;
      margin-bottom: 73px;
      background-color: inherit;

      ul {
        .box-1 {
          display: none;
        }
        .box-2 {
          display: none;
        }

        .box-3 {
          display: none;
        }
        .box-search {
        }
      }
    }
  }

  .posts {
    display: flex;
    flex-direction: column;
  }

  .company {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .text {
      text-align: center;
      margin: auto;

      .info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem;
        img {
        }
      }
    }

    .photo {
      margin: auto;
      width: 80%;
      height: auto;
      margin-top: 1rem;

      .alt {
        img {
          display: none;
        }
      }
      img {
        margin: auto;
        text-align: center;
        width: 80%;
        height: auto;
        margin-left: 3rem;
      }
    }
  }

  .phone {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    .container {
      padding-left: auto;
      padding-right: auto;
      padding: inherit;
    }
  }

  .photos-sec {
    .photos {
      ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        li {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }
  }

  .more-ideas {
    justify-content: center;
    text-align: center;
    align-items: center;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      align-items: center;
      .left-text {
        margin-bottom: 54px;
      }
    }
  }

  .section-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  footer {
    .container {
      .top {
        text-align: center;
        margin: auto;
        ul {
          display: flex;
          flex-direction: column;
        }
      }

      .serving {
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        .countries {
          .country {
            margin: auto;
            text-align: center;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .country-city {
              ul {
                display: flex;
                flex-direction: column;
                justify-content: center;

                li {
                  margin: auto;
                }
              }
            }
          }
        }
      }

      .bottom {
        ul {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
